<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>403364843030-s24tnkdtlk4rnlbrraet1itdl4lajgkc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.403364843030-s24tnkdtlk4rnlbrraet1itdl4lajgkc</string>
	<key>API_KEY</key>
	<string>AIzaSyC_i42QELafb0uwEIYq6heBxXhqj_2Vvek</string>
	<key>GCM_SENDER_ID</key>
	<string>403364843030</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniel.Legend</string>
	<key>PROJECT_ID</key>
	<string>legend-37c7b</string>
	<key>STORAGE_BUCKET</key>
	<string>legend-37c7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403364843030:ios:0e58ba4311b887f0062f37</string>
	<key>DATABASE_URL</key>
	<string>https://legend-37c7b.firebaseio.com</string>
</dict>
</plist>